In [ ]:
#import the dataset and show the first 5 lines of CRSP 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Handle compustat data
compu = pd.read_csv("/content/drive/My Drive/FINA3327_Final/compu_uodated.csv")
compu = compu.rename(columns={'LPERMNO':'PERMNO','datadate':'date'},inplace = False)
compu = compu[['PERMNO','date','fyear','at','cogs','revt','seq']]
compu['date'] = compu['date']//100
compu.head()

   PERMNO    date   fyear      at    cogs    revt     seq
0   25881  197012  1970.0  33.450  30.529  45.335  10.544
1   25881  197112  1971.0  29.330  33.973  47.033   8.382
2   25881  197212  1972.0  19.907  22.702  34.362   7.021
3   25881  197312  1973.0  21.771  24.704  37.750   8.567
4   25881  197412  1974.0  25.638  36.646  50.325  10.257

In [ ]:
#Handle CRSP data
crsp = pd.read_csv("/content/drive/My Drive/FINA3327_Final/crsp.csv")
crsp['fyear'] = crsp['date']//10000.0
crsp['date'] = crsp['date']//100
crsp['RET'] = crsp['RET'].replace('C',np.nan)
crsp['RET'] = crsp['RET'].replace('B',np.nan)
crsp['mkt_cap'] = crsp['PRC']*crsp['SHROUT']
crsp.head()

   PERMNO    date  PERMCO     PRC        RET  SHROUT  fyear  mkt_cap
0   10000  198512    7952     NaN        NaN     NaN   1985      NaN
1   10000  198601    7952 -4.3750        NaN  3680.0   1986 -16100.0
2   10000  198602    7952 -3.2500  -0.257143  3680.0   1986 -11960.0
3   10000  198603    7952 -4.4375   0.365385  3680.0   1986 -16330.0
4   10000  198604    7952 -4.0000  -0.098592  3793.0   1986 -15172.0

In [ ]:
#Merge compustat and crsp
whole_data = pd.merge(crsp, compu, 'left')
whole_data['LPERMNO'] = whole_data['PERMNO'] 
whole_data = whole_data.groupby(whole_data['PERMNO']).ffill()
whole_data = whole_data.rename({'LPERMNO':'PERMNO'})
whole_data.head()

     date  PERMCO     PRC        RET  SHROUT  ...  at  cogs  revt  seq  LPERMNO
0  198512    7952     NaN        NaN     NaN  ... NaN   NaN   NaN  NaN    10000
1  198601    7952 -4.3750        NaN  3680.0  ... NaN   NaN   NaN  NaN    10000
2  198602    7952 -3.2500  -0.257143  3680.0  ... NaN   NaN   NaN  NaN    10000
3  198603    7952 -4.4375   0.365385  3680.0  ... NaN   NaN   NaN  NaN    10000
4  198604    7952 -4.0000  -0.098592  3793.0  ... NaN   NaN   NaN  NaN    10000

[5 rows x 12 columns]

In [ ]:
#Drop rows where mkt_cap(ie. PRC) is negative because there is no trade that month
indexNames = whole_data[ whole_data['mkt_cap'] < 0 ].index
whole_data = whole_data.drop(indexNames, inplace=False)
whole_data

           date  PERMCO        PRC  ...      revt        seq  LPERMNO
0        198512    7952        NaN  ...       NaN        NaN    10000
19       198512    7953        NaN  ...       NaN        NaN    10001
28       198609    7953    6.37500  ...     21.46      5.432    10001
29       198610    7953    6.62500  ...     21.46      5.432    10001
30       198611    7953    7.00000  ...     21.46      5.432    10001
...         ...     ...        ...  ...       ...        ...      ...
4477710  202008   53453  498.32001  ...  24578.00   6618.000    93436
4477711  202009   53453  429.01001  ...  24578.00   6618.000    93436
4477712  202010   53453  388.04001  ...  24578.00   6618.000    93436
4477713  202011   53453  567.59998  ...  24578.00   6618.000    93436
4477714  202012   53453  705.66998  ...  31536.00  22225.000    93436

[3678733 rows x 12 columns]

In [ ]:
#Drop data which has NAN in any coloums
whole_data = whole_data.dropna(axis=0,how='any')
whole_data

           date  PERMCO        PRC  ...      revt        seq  LPERMNO
28       198609    7953    6.37500  ...     21.46      5.432    10001
29       198610    7953    6.62500  ...     21.46      5.432    10001
30       198611    7953    7.00000  ...     21.46      5.432    10001
31       198612    7953    7.00000  ...     21.46      5.432    10001
32       198701    7953    6.75000  ...     21.46      5.432    10001
...         ...     ...        ...  ...       ...        ...      ...
4477710  202008   53453  498.32001  ...  24578.00   6618.000    93436
4477711  202009   53453  429.01001  ...  24578.00   6618.000    93436
4477712  202010   53453  388.04001  ...  24578.00   6618.000    93436
4477713  202011   53453  567.59998  ...  24578.00   6618.000    93436
4477714  202012   53453  705.66998  ...  31536.00  22225.000    93436

[2452045 rows x 12 columns]

In [ ]:
#Calculate profitability and BM_ratio and double sorting
whole_data['Profitability'] = (whole_data['revt']-whole_data['cogs'])/whole_data['at']
whole_data['BM_ratio'] = (whole_data['seq']/whole_data['mkt_cap'])
whole_data['rankPro'] = whole_data['Profitability'].groupby(whole_data['date']).rank(ascending=False,method='dense')
whole_data['rankBM'] = whole_data['BM_ratio'].groupby(whole_data['date']).rank(ascending=False,method='dense')
whole_data['rank'] = (whole_data['rankPro']*0.2 + whole_data['rankBM']*0.8).groupby(whole_data['date']).rank(ascending=True,method='dense')
whole_data

           date  PERMCO        PRC  ... rankPro  rankBM    rank
28       198609    7953    6.37500  ...  2151.0   913.0   957.0
29       198610    7953    6.62500  ...  2181.0   948.0   975.0
30       198611    7953    7.00000  ...  2114.0  1013.0  1023.0
31       198612    7953    7.00000  ...  2322.0  1310.0  1312.0
32       198701    7953    6.75000  ...  2216.0   944.0   945.0
...         ...     ...        ...  ...     ...     ...     ...
4477710  202008   53453  498.32001  ...  1889.0  4106.0  3754.0
4477711  202009   53453  429.01001  ...  1880.0  4093.0  3693.0
4477712  202010   53453  388.04001  ...  1867.0  4069.0  3712.0
4477713  202011   53453  567.59998  ...  1866.0  4076.0  3696.0
4477714  202012   53453  705.66998  ...  1792.0  4139.0  3784.0

[2452045 rows x 17 columns]

In [ ]:
#strategy
whole_data['strategy_rule'] = (whole_data['rank']<=50) & (whole_data['PRC'].notnull())
whole_data['strategy_rule'] = whole_data['strategy_rule'].astype(int) # convert T/F to 1/0
whole_data['market_value'] = whole_data.PRC * whole_data.SHROUT
whole_data

           date  PERMCO        PRC  ...    rank  strategy_rule  market_value
28       198609    7953    6.37500  ...   957.0              0  6.317625e+03
29       198610    7953    6.62500  ...   975.0              0  6.565375e+03
30       198611    7953    7.00000  ...  1023.0              0  6.937000e+03
31       198612    7953    7.00000  ...  1312.0              0  6.937000e+03
32       198701    7953    6.75000  ...   945.0              0  6.689250e+03
...         ...     ...        ...  ...     ...            ...           ...
4477710  202008   53453  498.32001  ...  3754.0              0  4.643391e+08
4477711  202009   53453  429.01001  ...  3693.0              0  4.067015e+08
4477712  202010   53453  388.04001  ...  3712.0              0  3.678235e+08
4477713  202011   53453  567.59998  ...  3696.0              0  5.380286e+08
4477714  202012   53453  705.66998  ...  3784.0              0  6.689053e+08

[2452045 rows x 19 columns]

In [ ]:
#portfolio build
def eq_weight(df):
    stock_number = df['strategy_rule'].sum()
    # we divided 12 because we need monthly statistics
    try:
        df['eq_weight'] = df['strategy_rule']/stock_number
    except:
        weights = np.nan
    return df
def val_weight(df):
    total_mv = df.loc[df['strategy_rule']==1,'market_value'].sum()
    try:
        df['val_weight']= df.loc[df['strategy_rule']==1,'market_value']/total_mv
    except:
        weights = np.nan
    return df

In [ ]:
def sort_rank(df):
    sorted_list = df.sort_values(by=['rank','date'],ascending=[True,True])
    return sorted_list

In [ ]:
whole_data_w = whole_data.groupby('date').apply(eq_weight)
whole_data_w = whole_data_w.groupby('date').apply(val_weight) 
whole_data_w.groupby('date').apply(sort_rank)

# we define a new dataframe "show" here to present the result of weighting
show = whole_data_w[(whole_data_w['strategy_rule']==1.0) 
          & (whole_data_w['date'] == 200703) 
          & (whole_data_w['fyear'] == 2007)]
show.sort_values(by=['rank'],ascending=[True]).head(10)

           date  PERMCO      PRC  ...  market_value  eq_weight  val_weight
4189665  200703    7282  18.0000  ...  8.136000e+03   0.019608    0.000218
44728    200703    2089  14.0000  ...  5.873000e+04   0.019608    0.001571
3936807  200703   37906  22.5800  ...  1.476732e+05   0.019608    0.003949
3528319  200703   14777  53.8500  ...  8.793705e+04   0.019608    0.002352
4007123  200703   42121  13.5200  ...  1.126216e+04   0.019608    0.000301
3544470  200703   31702  16.3494  ...  6.098326e+03   0.019608    0.000163
3761217  200703   16207   0.3400  ...  7.643200e+03   0.019608    0.000204
2184885  200703    4373   1.2200  ...  4.437628e+04   0.019608    0.001187
2328826  200703    3230  90.5300  ...  1.353786e+06   0.019608    0.036206
3987648  200703   41451  91.7000  ...  8.523515e+05   0.019608    0.022795

[10 rows x 21 columns]

In [ ]:
#calculate return
def calculate_return(df):
    df['RET'] = df['RET'].astype(float)
    df['eq_weighted_r'] = df['eq_weight'] * df['RET']
    df['val_weighted_r'] = df['val_weight'] * df['RET']
    eq_return = pd.pivot_table(df,index='date',values='eq_weighted_r',aggfunc=np.sum)
    val_return = pd.pivot_table(df,index='date',values='val_weighted_r',aggfunc=np.sum)
    return_dataset = pd.concat([eq_return,val_return],axis=1)
    return return_dataset

In [ ]:
def shift_return(df):
    df['val_weight'] = df['val_weight'].shift(1)
    return df

In [ ]:
# shift return
portfolio = whole_data_w[whole_data_w.columns].groupby('LPERMNO').apply(shift_return)
portfolio = portfolio.dropna(axis=0,how='any')
portfolio.head()

        date  PERMCO    PRC  ... market_value  eq_weight  val_weight
5680  199707    7983  5.625  ...    76612.500       0.02    0.012177
5681  199708    7983  7.875  ...   107257.500       0.00    0.011182
5700  199903    7983  3.875  ...    56121.625       0.00    0.005549
5702  199905    7983  3.125  ...    45259.375       0.02    0.007414
5703  199906    7983  7.500  ...   108622.500       0.00    0.008821

[5 rows x 21 columns]

In [ ]:
portfolio.head()

        date  PERMCO    PRC  ... market_value  eq_weight  val_weight
5680  199707    7983  5.625  ...    76612.500       0.02    0.012177
5681  199708    7983  7.875  ...   107257.500       0.00    0.011182
5700  199903    7983  3.875  ...    56121.625       0.00    0.005549
5702  199905    7983  3.125  ...    45259.375       0.02    0.007414
5703  199906    7983  7.500  ...   108622.500       0.00    0.008821

[5 rows x 21 columns]

In [ ]:
#yearly return
return_dataset = calculate_return(portfolio)
return_dataset.head(5)

        eq_weighted_r  val_weighted_r
date
196001       0.025000        0.025000
196002      -0.018018       -0.018018
196003      -0.050459       -0.050459
196004       0.009756        0.009756
196005      -0.057971       -0.057971

In [ ]:
#cumulative return
final = return_dataset.copy()
final['eq_weighted_R'] = return_dataset['eq_weighted_r']+1
final['val_weighted_R'] = return_dataset['val_weighted_r']+1
final['eq_cum_R'] = final['eq_weighted_R'].cumprod()
final['val_cum_R'] = final['val_weighted_R'].cumprod()
final.head()

        eq_weighted_r  val_weighted_r  ...  eq_cum_R  val_cum_R
date                                   ...
196001       0.025000        0.025000  ...  1.025000   1.025000
196002      -0.018018       -0.018018  ...  1.006532   1.006532
196003      -0.050459       -0.050459  ...  0.955743   0.955743
196004       0.009756        0.009756  ...  0.965067   0.965067
196005      -0.057971       -0.057971  ...  0.909121   0.909121

[5 rows x 6 columns]

In [ ]:
final.to_excel('3327 final Profit Double Sorting_BM.xlsx', sheet_name = 'return')

In [ ]:
#data analysis

In [ ]:
reg_raw = pd.read_excel("/content/drive/My Drive/FINA3327_Final/stat_data_BM.xlsx").iloc[:,1:]

In [ ]:
reg_raw.head()

   Unnamed: 1  eq_weighted_r  val_weighted_r  ...      rf   eq_r-rf  val_r-rf
0      196001       0.025000        0.025000  ...  0.0033  0.021700  0.021700
1      196002      -0.018018       -0.018018  ...  0.0029 -0.020918 -0.020918
2      196003      -0.050459       -0.050459  ...  0.0035 -0.053959 -0.053959
3      196004       0.009756        0.009756  ...  0.0019  0.007856  0.007856
4      196005      -0.057971       -0.057971  ...  0.0027 -0.060671 -0.060671

[5 rows x 17 columns]

In [ ]:
#equal weight carhart

In [32]:
y_e_Ca = reg_raw['eq_r-rf']
x_Ca = reg_raw[['HML','SMB','Mkt-rf','Momentum']]
x_Ca.head()

      HML     SMB  Mkt-rf  Momentum
0  0.0269  0.0205 -0.0698   -0.0349
1 -0.0203  0.0056  0.0117    0.0386
2 -0.0284 -0.0047 -0.0163    0.0143
3 -0.0237  0.0039 -0.0171    0.0281
4 -0.0372  0.0127  0.0312    0.0481

In [33]:
y_e_Ca.head()

0    0.021700
1   -0.020918
2   -0.053959
3    0.007856
4   -0.060671
Name: eq_r-rf, dtype: float64

In [34]:
import statsmodels.api as sm

In [35]:
x1 = sm.add_constant(x_Ca)
lm = sm.OLS(y_e_Ca.astype(float),x1.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                eq_r-rf   R-squared:                       0.673
Model:                            OLS   Adj. R-squared:                  0.671
Method:                 Least Squares   F-statistic:                     350.4
Date:                Tue, 20 Apr 2021   Prob (F-statistic):          1.49e-163
Time:                        06:48:54   Log-Likelihood:                 1420.7
No. Observations:                 685   AIC:                            -2831.
Df Residuals:                     680   BIC:                            -2809.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0116      0.001     -9.479      0.000      -0.014      -0.009
HML            0.2552      0.045      5.639      0.000       0.166       0.344
SMB            0.6657      0.041     16.353      0.000       0.586       0.746
Mkt-rf         0.7176      0.029     24.820      0.000       0.661       0.774
Momentum      -0.2652      0.029     -9.065      0.000      -0.323      -0.208
==============================================================================
Omnibus:                       28.313   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               64.784
Skew:                           0.186   Prob(JB):                     8.56e-15
Kurtosis:                       4.460   Cond. No.                         40.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
#value weighted carhart

In [37]:
y_v_Ca = reg_raw['val_r-rf']

In [38]:
lm = sm.OLS(y_v_Ca.astype(float),x1.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               val_r-rf   R-squared:                       0.621
Model:                            OLS   Adj. R-squared:                  0.619
Method:                 Least Squares   F-statistic:                     278.9
Date:                Tue, 20 Apr 2021   Prob (F-statistic):          9.05e-142
Time:                        06:49:23   Log-Likelihood:                 1321.2
No. Observations:                 685   AIC:                            -2632.
Df Residuals:                     680   BIC:                            -2610.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0050      0.001      3.535      0.000       0.002       0.008
HML            0.2095      0.052      4.004      0.000       0.107       0.312
SMB            0.3050      0.047      6.479      0.000       0.213       0.397
Mkt-rf         0.9369      0.033     28.021      0.000       0.871       1.003
Momentum      -0.1542      0.034     -4.558      0.000      -0.221      -0.088
==============================================================================
Omnibus:                        9.931   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               14.900
Skew:                           0.087   Prob(JB):                     0.000581
Kurtosis:                       3.701   Cond. No.                         40.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
#equal weighted CAPM

In [39]:
y_e_CA = reg_raw[['eq_r-rf']]
x_CA = reg_raw[['Mkt-rf']]

In [40]:
x2 = sm.add_constant(x_CA)
lm = sm.OLS(y_e_CA.astype(float),x2.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                eq_r-rf   R-squared:                       0.490
Model:                            OLS   Adj. R-squared:                  0.489
Method:                 Least Squares   F-statistic:                     655.4
Date:                Tue, 20 Apr 2021   Prob (F-statistic):          7.25e-102
Time:                        06:49:36   Log-Likelihood:                 1268.0
No. Observations:                 685   AIC:                            -2532.
Df Residuals:                     683   BIC:                            -2523.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0118      0.001     -8.046      0.000      -0.015      -0.009
Mkt-rf         0.8453      0.033     25.602      0.000       0.780       0.910
==============================================================================
Omnibus:                      137.814   Durbin-Watson:                   1.862
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              630.883
Skew:                           0.834   Prob(JB):                    1.01e-137
Kurtosis:                       7.395   Cond. No.                         22.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
#value weighted CAPM

In [41]:
y_v_CA = reg_raw[['val_r-rf']]

In [42]:
lm = sm.OLS(y_v_CA.astype(float),x2.astype(float)).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               val_r-rf   R-squared:                       0.576
Model:                            OLS   Adj. R-squared:                  0.575
Method:                 Least Squares   F-statistic:                     927.1
Date:                Tue, 20 Apr 2021   Prob (F-statistic):          2.64e-129
Time:                        06:49:49   Log-Likelihood:                 1282.4
No. Observations:                 685   AIC:                            -2561.
Df Residuals:                     683   BIC:                            -2552.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0051      0.001      3.550      0.000       0.002       0.008
Mkt-rf         0.9844      0.032     30.448      0.000       0.921       1.048
==============================================================================
Omnibus:                       43.168   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              119.608
Skew:                           0.276   Prob(JB):                     1.07e-26
Kurtosis:                       4.971   Cond. No.                         22.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.